
archive/
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/

# Environment / OS files
.env
.DS_Store

*.png
!outputs/*.png

# Model checkpoints / weights
*.h5
*.keras
*.pt
*.pth

# Keep selected final model
!outputs/models/phase2_finetuned_oversampled.keras